# Environments
venv/
env/
.env
utils/
old_documentation.md

# Python artifacts
__pycache__/
*.pyc

# Data (We don't want to push thousands of JSON files to Git)
data/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/