# Environments
venv/
env/
.env

# Code Folders (Ensuring they are NOT ignored)
!utils/
!frontend/
!scripts/

# Python artifacts
__pycache__/
*.pyc
.ruff_cache/
.ipynb_checkpoints/

# Data
data/

# Docker volumes
pgdata/

# OS and Logs
.DS_Store
*.log